{% extends "modhead.html"%}
{% block js %} 
<script type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %} 
{% block content %}
	<div class="content col-md-offset-2 col-md-8 " style="margin-top: 20px;">
		<form name="getmonthrecords" method="get" action="/cmdb/outputrecords" class="form-horizontal"role="form">
		<table class="table table-striped table-condensed">
					<tr>
						<td><p class="text-center text-warning"> 开始时间</p></td>
						<td>
     						<input type="text" class="Wdate" name="stdate" onclick="WdatePicker()" style="height: 30px;"></input>
						</td>
						<td><p class="text-center text-warning"> 结束时间</p></td>
						<td>
     						<input type="text" class="Wdate" name="eddate" onclick="WdatePicker()" style="height: 30px;"></input>
						</td>
						<td >
					    <button class="btn btn-primary" style="border-left-width: 0px; padding-left: 12px; margin-left: 100px;">导出报表</button>
					    </td>
					</tr>
		</table>
	 	</form>
		<table id="tab1" class="table table-condensed table-hover shadow">
			<thead>
				<tr>
					<th>日期</th>
					<th>内容</th>
					<th>类别</th>
					<th>数目</th>
					<th>总价</th>
				</tr>
			</thead>
			{% for bj in bjs %}
			<tr>
				<td>{{ bj.work_date }} &nbsp;</td>
				<td>{{ bj.work_content }} &nbsp;</td>
				<td>{{ bj.work_class }} &nbsp;</td>
				<td>{{ bj.work_num }} &nbsp;</td>
				<td>{{ bj.work_total }} &nbsp;</td>
			</tr>
			{% endfor %}
		</table>
	<ul class="pager">
		<li class="previous">
			<a href="?action=pevious">&larr; Previous</a>
		</li>
		<li class="next">
			<a href="?action=next">Next &rarr;</a>
		</li>
	</ul>
</div>
{% endblock %}