{% extends "modhead.html"%}
{% block css %}
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
{% endblock %}
{% block js %} 
<script type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js">
</script>
{% endblock %}
{% block javascript %}
<script language="javascript" type="text/javascript">
	$(document).ready(function() {
		$("#newBtn").bind("click", function(){
 			$("#tab1").append("<tr><td><input id=\"sd\" type=\"checkbox\" /></td><td><input type=\"text\" name=\"date\" class=\"Wdate\" onclick=\"WdatePicker()\" style=\"height: 30px;\"></input></td><td><textarea name=\"content\" rows=\"2\"></textarea></td><td><select name=\"lb\" class=\"span1\" onchange=\"com(this)\"><option>D1</option><option>D2</option><option>D3</option><option>D4</option><option>D5</option></select></td><td><select name=\"num\" class=\"span1\" onchange=\"com(this)\"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select></td><td><input type=text  name=\"total\" style=\"height: 30px; width: 100px;\" value=\"NA\" readonly=\"readonly\" /></td></tr>");
		});

		$("#delBtn").bind("click", function(){
  			$("input:checked").parent().parent().remove();
		});
	});

	function getRowObj(obj) {
		var i = 0;
		while (obj.tagName.toLowerCase() != "tr") {
			obj = obj.parentNode;
			if (obj.tagName.toLowerCase() == "table")
				return null;
		}
		return obj;
	}
	function com(obj) {
		var td=0;
		var trObj = getRowObj(obj);
		var trArr = trObj.parentNode.children;
		for ( var trNo = 0; trNo < trArr.length; trNo++) {
			if (trObj == trObj.parentNode.children[trNo]) {
				td=trNo;
			}
		}
		if (document.getElementsByName("lb")[td].value == "D1") {
			document.getElementsByName("total")[td].value = 200 * document
					.getElementsByName("num")[td].value;
		} else if (document.getElementsByName("lb")[td].value == "D2") {
			document.getElementsByName("total")[td].value = 1000 * document
					.getElementsByName("num")[td].value;
		} else if (document.getElementsByName("lb")[td].value == "D3") {
			document.getElementsByName("total")[td].value = 2000 * document
					.getElementsByName("num")[td].value;
		} else if (document.getElementsByName("lb")[td].value == "D4") {
			document.getElementsByName("total")[td].value = 120 * document
					.getElementsByName("num")[td].value;
		} else
			document.getElementsByName("total")[td].value = 200;
	}
</script>
{% endblock %}
{% block content %}
	<div class="content col-md-offset-1 col-md-10 " style="margin-top: 20px;">
		<form name="generatequote" method="POST" action="/cmdb/generatequote/" class="form-horizontal"role="form">
		<table class="table table-striped table-condensed">
					<tr>
						<td><p class="text-center text-warning"> 开始时间</p></td>
						<td>
     						<input type="text" class="Wdate" name="stdate" onclick="WdatePicker()" style="height: 30px;">
						</td>
						<td><p class="text-center text-warning"> 结束时间</p></td>
						<td>
     						<input type="text" class="Wdate" name="eddate" onclick="WdatePicker()" style="height: 30px;">
						</td>
						<td >
					    <button class="btn btn-primary" style="border-left-width: 0px; padding-left: 12px; margin-left: 100px;">生成数据</button>
					    </td>
					</tr>
		</table>
	 	</form>
		{% if quotes %}
		<form name="form1" method="post" action="/cmdb/bj/" >
		<table id="tab1" class="table table-condensed table-hover shadow">
			<thead>
				<tr>
					<th>选择</th>
					<th>日期</th>
					<th>内容</th>
					<th>类别</th>
					<th>数目</th>
					<th>总价</th>
				</tr>
			</thead>
			{% for quote in quotes %}
			<tr>
				<td><input id="sd" type="checkbox" /></td>
				<td><input type="text" class="Wdate" name="date" onclick="WdatePicker()" style="height: 30px;"value="{{ quote.0 }}"></td>
				<td><input type="text" name="content" style="height: 30px;"value="{{ quote.1 }}"></td>
				<td><select name="lb" class="span1" onclick="com(this)">
								<option>D1</option>
								<option>D2</option>
								<option>D3</option>
								<option>D4</option>
							</select></td>
				<td><select name="num" class="span1" onclick="com(this)">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select></td>
				<td> <input type=text  name="total" style="height: 30px; width: 100px;" value="NA" readonly="readonly" /></td>
			</tr>
			{% endfor %}
		</table>
		<table class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<td align="right">
						<input type="button" name="Submit" value="增加一行"  class="btn btn-info"  id="newBtn" />
					    <input type="button" name="Submit" value="删除一行" class="btn btn-info"  id="delBtn" />
					    <button class="btn btn-primary" style="border-left-width: 0px; padding-left: 12px; margin-left: 650px;">提交</button>
					    </td>
					</tr>
				</table>
				<div>
			<table id="tab2" class="table">
				<thead>
						<tr>
							<th >服务类型</th>
							<th >服务描述</th>
							<th >收费核算单位</th>
							<th >收费标准/元</th>
						</tr>
				</thead>
				<tr>
					<td>D1</td>
					<td>Linux,Windows服务器安装，功能调试，网络相关调试</td>
					<td>每次</td>
					<td>200</td>
				</tr>
				<tr>
					<td>D2</td>
					<td>网络交换机，路由器，服务器，存储设备调试</td>
					<td>每次</td>
					<td>1000</td>
				</tr>
				<tr>
					<td>D3</td>
					<td>网络结构综合调试，应用环境调试</td>
					<td>每次</td>
					<td>2000</td>
				</tr>
				<tr>
					<td>D4</td>
					<td>软件系统维护</td>
					<td>人/小时</td>
					<td>120</td>
				</tr>
			</table>
			</div>
	</form>
	     {%endif%}
    </div>
{% endblock %}