{% extends "modhead.html" %}
{% block content %}
		<div class="row">
			<div class="col-md-2">
				<h4 >&nbsp;&nbsp;&nbsp;功能选择</h4>
				<ul class="nav nav-pills nav-stacked" role="tablist">
					<li><a href="/cmdb/nav/">常用系统<span class="badge pull-right">0</span></a></li>
					<li><a href="/cmdb/randompasswd/">随机密码生成器<span class="badge pull-right">0</span></a></li>
					<li><a href="/cmdb/ipaviable/">中美可用IP<span class="badge pull-right">0</span></a></li>
					<li><a href="#">年度预算<span class="badge pull-right">0</span>
					</a></li>
					<li><a href="#">域名管理<span class="badge pull-right">0</span>
					</a></li>
				</ul>
			</div>
			<div class="col-md-10 " style="margin-top: 50px;">
				 {% block rs %} {% endblock %}
			</div>
		</div>
{% endblock %}