{% extends "index_base.html" %} {% block title %} 常用系统
{%endblock %} {% block rs %}
<div>
	<h4>常用标签</h4>
</div>
<div class="content">
	<div>
		<p>
		<a  class="btn btn-info" type="button" href="http://10.168.2.118/nagios/" target="_black">Nj-Nagios</a>
		<a  class="btn btn-info" type="button" href="http://10.168.2.118/nconf/index.php" target="_black">Nj-Nconf</a>
		</p>
		<p>
		<a  class="btn btn-danger" type="button" href="http://192.168.1.114/nagios3/" target="_black">US-Nagios</a>
		<a  class="btn btn-danger" type="button" href="http://192.168.1.114/nconf/index.php" target="_black">US-Nconf</a>
		</p>
		<p>
		<a  class="btn btn-primary" type="button" href="http://10.168.2.144:8080/index.html#/dashboard/file/guided.json" target="_black">Kibanan</a>
		</p>
		<p>
		<a  class="btn btn-warning" type="button" href="http://10.168.2.65:8080/sawiki/index.php/%E9%A6%96%E9%A1%B5" target="_black">WIKI</a	>
		</p>
		<p>
		<a  class="btn btn-primary" type="button" href="http://10.168.2.186:8080/IT/login.action" target="_black">Change Request</a	>
		</p>
		<p>
			<HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1></HR>
		</p>
		<p>
		<a  class="btn btn-success" type="button" href="http://10.168.2.35/KDHRMS/login.aspx" target="_black">K3</a	>
		<a  class="btn btn-success" type="button" href="http://oa.genscript.com" target="_black">OA</a	>
		</p>
	</div>
</div>
{% endblock %}
